$gradient-orange: #FF6F48;
$gradient-orange-hover: #ff704880;
$gradient-pink: #F02AA6;
$gradient-pink-hover: #F02AA680;
$gradient-purple: #4851FF;
$gradient-purple-hover: #4851FF80;
$pink-1: #F74780;
$pink-1-hover: #ee96b2;
$pink-2: #FFA7C3;
$white: #FFFFFF;
$black: #13183F;
$black-hover: #13183F80;
$gray: #83869A;
$light-gray: #e3e5f4;
$blue: #666CA3;